<section class="hirot-collection-header">
  <div class="hirot-collection-header__inner">
    {%- if section.settings.eyebrow != blank -%}
      <span class="hirot-section-eyebrow">{{ section.settings.eyebrow }}</span>
    {%- endif -%}
    <h1 class="hirot-collection-header__heading">{{ collection.title }}</h1>
    {%- if section.settings.show_description and collection.description != blank -%}
      <div class="hirot-collection-header__description">{{ collection.description }}</div>
    {%- endif -%}
  </div>
</section>

{% schema %}
{
  "name": "Hirot Collection Header",
  "tag": "div",
  "settings": [
    {
      "type": "text",
      "id": "eyebrow",
      "label": "眉書き (英語)",
      "default": "Collection"
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "コレクションの説明文を表示",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Hirot Collection Header"
    }
  ]
}
{% endschema %}
